<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Support | Creators</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='app.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='foundation.css') }}">
		
	</head>
	<body>

		
		<link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">

		<header class="header" style="bottom:6 rem;">
			<h1 class="main-header"></h1>
			<ul class="header-subnav">
				<li>
					<a href="/creators" class="is-active">About us</a>
				</li>
				<li>
					<a href="/index" >Volunteer</a>
				</li>
				<li>
					<a href="/info" >Information</a>
				</li>
			</ul>
		</header>
		<br />

		<!-- this adds Foundation Icon Fonts!! -->

		<div class="row"  >

			<div class="medium-3 columns">
				<div class="profile-card">
					<img src="static/Sarah.jpg" alt="Sarah">
					<div class="profile-info">
						<h4 class="subheader">Sarah</h4>
						<p>
							Hi, I'm a Computer Science junior at UCSC. My favorite hobby is reading and playing video games. My favorite animal is the leopard!
						</p>

						<p>
							<a href="https://github.com/sborland">GitHub</a> | <a href="http://people.ucsc.edu/~sborland/">Website</a> | <a href="https://www.linkedin.com/in/sborland">LinkedIn</a> 
						</p>

					</div>
				</div>
			</div>

			<div class="medium-3 columns">
				<div class="profile-card">
					<img src="static/Henry.jpg" alt="Henry">
					<div class="profile-info">
						<h4 class="subheader">Henry</h4>
						<p>
							I'm a Computer Science student at the University of California, Santa Cruz. <br> My hobby is game development.<br> My favorite animal is the tiger.
						</p>

						<p>
							<a href="https://github.com/henry-pan">GitHub</a> | <a href="http://people.ucsc.edu/~hepan/">Website</a> | <a href="https://www.linkedin.com/in/henrypan95">LinkedIn</a> 
						</p>

					</div>
				</div>
			</div>

			<div class="medium-3 columns">
				<div class="profile-card">
					<img src="static/Leslie.jpg" alt="Leslie">
					<div class="profile-info">
						<h4 class="subheader">Leslie</h4>
						<p>
							Hello, I'm a Computer Science junior at UCSC! My hobby is weightlifing and I'm a huge lover of corgis!
						</p>

						<p>
							<a href="https://github.com/huishili">GitHub</a> | <a href="https://www.linkedin.com/in/hui-shi-li-a9717a72">LinkedIn</a>
						</p>

					</div>
				</div>
			</div>

			<div class="medium-3 columns">
				<div class="profile-card">
					<img src="static/Karl.jpg" alt="Karl">
					<div class="profile-info">
						<h4 class="subheader">Karl</h4>
						<p>
							I'm a Computer Science student at the University of California, Santa Cruz. <br>I enjoy weightlifting.<br> My favorite animal is the liger.
						</p>

						<p>
							<a href="https://github.com/InvaderZim19">GitHub</a> | <a href="https://www.linkedin.com/in/karl-philippe-cassel-248b018a">LinkedIn</a>
						</p>

					</div>
				</div>
			</div>

		</div>

	 <script href= "{{ url_for('static', filename='jquery.min.js') }}"></script>
      <script href= "{{ url_for('static', filename='what-input.min.js') }}"></script>
       <script href= "{{ url_for('static', filename='foundation.min.js') }}"></script>
        <script href= "{{ url_for('static', filename='app.js') }}"></script>
  </body>


<br><br><br>
	<!-- Footer -->
	<footer class="footer">
		<div class="row full-width">
			<i class="fi-mobile"></i>
			<p>
				If you need help call this number: 123-456-7890
			</p>
		</div>
	</footer>

</html>