<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Support | Hello</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='app.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='foundation.css') }}">



	</head>
	<body>

		<link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">

		<header class="header">
			<h1 class="main-header"></h1>
			<ul class="header-subnav">
				<li>
					<a href="/creators">About us</a>
				</li>
				<li>
					<a href="/index" class="is-active">Volunteer</a>
				</li>
				<li>
					<a href="/info">Information</a>
				</li>
			</ul>

		</header>
             
        

		<div class="row">
			<div class="small-6 small-centered columns">

				<div class="service">
					<div class="service-icon-box">
						<img src="static/logo.png" alt="" class="service-icon">
                        </div>
					<h4 class="service-heading"> <img src="static/title.png" alt="" height="150" width="200"> </h4>
					<p class="service-description">
						<b>Someone out there needs the <font color="red"> support </font> only you can give. </b>
						<br>
						<a href="/signuppage" class="button alert">Click Here to Reach Them</a>
					</p>
				</div>

			</div>
		</div>

	 <script href= "{{ url_for('static', filename='jquery.min.js') }}"></script>
      <script href= "{{ url_for('static', filename='what-input.min.js') }}"></script>
       <script href= "{{ url_for('static', filename='foundation.min.js') }}"></script>
        <script href= "{{ url_for('static', filename='app.js') }}"></script>
  </body>

<br><br><br>
	<footer class="footer">
		<div class="row full-width">
			<i class="fi-mobile"></i>
			<p>
				If you need help call this number: 123-456-7890
			</p>
		</div>
	</footer>
</html>