<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Support | Information</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='app.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='foundation.css') }}">
	</head>
	<body>


		<link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">

		<header class="header">
			<h1 class="main-header"></h1>
			<ul class="header-subnav">
				<li>
					<a href="/creators">About us</a>
				</li>
				<li>
					<a href="/index">Volunteer</a>
				</li>
				<li>
					<a href="/info"  class="is-active">Information</a>
				</li>
			</ul>
		</header>
       
		<br />
	
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
        

		<div class="row features">
			<div class="medium-4 columns"  style="padding-top:2 rem;">
				<div class="round-icon">
					<span class="fi-star"></span>
				</div>
				<h3>Become a Supporter</h3>
				<hr>
				<p>
					Have the talents and resources and want to help people?
Sign up as a Supporter!
				</p>
			</div>

			<div class="medium-4 columns">
				<div class="round-icon">
					<span class="fi-mobile-signal"></span>
				</div>
				<h3>Get matched with someone in need</h3>
				<hr>
				<p>
					Our service will automatically pair you with someone
who needs your help.
You will receive a text message with the relevant
details.
				</p>
			</div>

			<div class="medium-4 columns">
				<div class="round-icon">
					<span class="fi-results-demographics"></span>
				</div>
				<h3>Put your talents and resources to use</h3>
				<hr>
				<p>
					Get in touch with the person in need!
It's up to you now! Change someone's life forever!

				</p>
			</div>

		</div>


	 <script href= "{{ url_for('static', filename='jquery.min.js') }}"></script>
      <script href= "{{ url_for('static', filename='what-input.min.js') }}"></script>
       <script href= "{{ url_for('static', filename='foundation.min.js') }}"></script>
        <script href= "{{ url_for('static', filename='app.js') }}"></script>

	</body>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<!-- Footer -->
	<footer class="footer">
		<div class="row full-width">
			<i class="fi-mobile"></i>
			<p>
				If you need our service, call this toll-free number:
1-650-729-8318
			</p>
		</div>
	</footer>

</html>