<!doctype html>
<html class="no-js" lang="en">
 <head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Support | Supporter Sign Up</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='app.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='foundation.css') }}">


	</head>
	<body>

		<link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">

		<header class="header">
			<h1 class="main-header"></h1>
			<ul class="header-subnav">
				<li>
					<a href="/creators">About us</a>
				</li>
				<li>
					<a href="/index" class="is-active">Volunteer</a>
				</li>
				<li>
					<a href="/info">Information</a>
				</li>
			</ul>
		</header>
		<br>
        <br>
        <br>
        <br>
      
<div class = "row">
<div class="small-6 large-centered columns">
<img src="static/signup.png" alt="">
</div>

</div>

<div class = "form">
<form action="/signup" method="post">
<div class ="row">
<div class="small-6 large-centered columns">
    <div class="row">
    <div class="large-6 columns">
      <label for="fname">First Name:
        <input type="text" name="fname" id="fname" placeholder="" />
      </label>
    </div>
    <div class="large-6 columns">
      <label>Last Name:
        <input type="text" name="lname" id="lname" placeholder="" />
      </label>
    </div><br>
     <div class="large-6 columns">
      <label for="fname">City:
        <input type="text" name="city" id="city" placeholder="" />
      </label>
    </div>
    <div class="large-6 columns">
      <label>State:
        <input type="text" name="state" id="state"placeholder="" />
      </label>
    </div><br>
    <div class="large-6 columns">
      <label for="fname">Email Address:
        <input type="text" name="email" id="email" placeholder="" />
      </label>
    </div>
    <div class="large-6 columns">
      <label>Phone Number:
        <input type="text" name="phone" id = "phone" placeholder="" />
      </label>
    </div><br>
    <div class="large-12 columns">
      <label for ="language">Language
       <input type= "text" name = "language" id = "language"/>
      </label>
    </div>
    <div class="small-12 large-centered columns">
      <label>What Areas Would You Like To Join Support?</label>
      <input  type="checkbox" name="choices" value="shelter" ><label for="shelter">Willing to Shelter</label>
      <input  type="checkbox" name="choices" value="food"> <label for="food">Willing to Feed</label><br>
      <input  type="checkbox" name="choices" value="law"> <label for="law">Law Advice**</label>
      <input  type="checkbox" name="choices" value="transport"><label for="transport">Willing to Provide Transportation</label><br>
      <input  type="checkbox" name="choices" value="talk"><label for="talk" >Provide Council and Comfort</label>
      <input  type="checkbox" name="choices" value="other"><label for="other" >Other Support**</label>
    </div>

    <div class="row">
    <div class="small-12 large-centered columns">
      <label>Please Describe Yourself
        <textarea name ="description" id ="description" placeholder="Tell us why you want to be a Supporter. Must require indepth explantion about skills for every selected ** or risk rejection."></textarea>
      </label>
     <div class="small-7 large-centered columns">
     <input type="submit" class="button alert" value="submit"/>
    </div>
    </div>
    </div>
</div>
 </div>
 </div>
</form>
 </div>
  
	<!-- Footer -->
	<footer class="footer">
		<div class="row full-width">
			<i class="fi-mobile"></i>
			<p>
				If you need help call this number: 123-456-7890
			</p>
		</div>
	</footer>


	 <script href= "{{ url_for('static', filename='jquery.min.js') }}"></script>
      <script href= "{{ url_for('static', filename='what-input.min.js') }}"></script>
       <script href= "{{ url_for('static', filename='foundation.min.js') }}"></script>
        <script href= "{{ url_for('static', filename='app.js') }}"></script>
  </body>
</html>